.categorypage {
  padding-right: 80px;
}
.categorypage__head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}
.categorypage__nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.categorypage__nav a {
  font-weight: 500;
  font-size: 18px;
  padding: 20px;
  background-color: #e6e6e6;
  display: block;
}
.categorypage__filter {
  background-color: #fbb03b;
  padding: 35px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, minmax(140px, auto));
  grid-gap: 24px;
}
.categorypage__items {
  margin-top: 30px;
}
.categorypage__items table {
  width: 100%;
}
.categorypage__item {
  border-bottom: 1px solid #e6e6e6;
}
.categorypage__item table {
  border-collapse: collapse;
}
.categorypage__item td {
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}
.categorypage__item tr {
  cursor: pointer;
}
.categorypage__item tr:hover {
  background-color: #e6e6e6;
}
.categorypage__item.active {
  background-color: #e6e6e6;
}
.categorypage__item__more__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.categorypage__item__more {
  display: none;
  background-color: #4d4d4d;
}
.categorypage__item__more * {
  color: white;
}
.categorypage__item__more__right button {
  background-color: #fbb03b;
  border: none;
  padding: 12px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  cursor: pointer;
}
.categorypage__item__more__right button span {
  font-weight: 500;
  font-size: 18px;
}
.categorypage__item__more__right button img {
  margin-right: 20px;
}
.categorypage__item__more__title {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
}
.categorypage__item__more__numbers {
  display: -webkit-box;
  display: flex;
  margin-top: 30px;
}
.categorypage__item__more__number {
  margin-right: 90px;
}
.categorypage__item__more__number__label {
  font-weight: 500;
  font-size: 14px;
}
.categorypage__item__more__number__num {
  font-weight: bold;
  font-size: 36px;
  margin-top: 6px;
}
.categorypage__item__more__number__count {
  margin-top: 6px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.categorypage__item__more__number__count input {
  background: none;
  color: white;
  font-weight: bold;
  font-size: 36px;
  width: 90px;
  border: none;
  text-align: center;
}
.categorypage__item__more__number__count input::-webkit-outer-spin-button,
.categorypage__item__more__number__count input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.categorypage__item__more__number__count button {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background: none;
  width: 26px;
  height: 26px;
  cursor: pointer;
  border: none;
}
.categorypage__item__more__number__count button:active {
  opacity: 0.7;
}
.categorypage__showmore {
  background-color: #4d4d4d;
  border: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 15px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 60px;
}
.categorypage__showmore * {
  color: white;
}
.categorypage__showmore span {
  font-weight: 500;
  font-size: 18px;
  margin: 0 20px;
}
.categorypage__downloadprice {
  background-color: #fbb03b;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 15px;
  margin-top: 60px;
}
.categorypage__downloadprice * {
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.categorypage__downloadprice img {
  margin-right: 16px;
}
.categorypage__tablinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  margin-top: 60px;
}
.categorypage__tablink {
  background-color: #4d4d4d;
  padding: 20px;
  border: 1px solid #4d4d4d;
  color: white;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.categorypage__tablink.active {
  background-color: #fff;
  color: #4d4d4d;
}
.categorypage__tabcontent__item {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 20px;
}
.categorypage__tabcontent__item p {
  font-weight: 300;
  font-size: 16px;
  margin-top: 0;
}
.categorypage__tabcontent {
  margin-top: 20px;
  padding-bottom: 60px;
}
