@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOiCnqEu92Fr1Mu51QrEzAdKg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TLBCc6CsE.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc9.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  color: #4D4D4D;
  box-sizing: border-box;
  outline: none;
}
input {
  font-family: "Roboto", sans-serif;
}
.hidden {
  overflow: hidden;
}
.global__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  flex-grow: 1;
  padding-left: 70px;
}
.title {
  margin-top: 28px;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
}
p {
  margin-top: 15px;
  font-weight: normal;
  font-size: 20px;
}
.btn__big {
  padding: 23px 60px;
  border: none;
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  cursor: pointer;
}
.btn__big.black {
  background-color: #4D4D4D;
  color: white;
}
.upbtn {
  cursor: pointer;
  position: fixed;
  bottom: 60px;
  right: 60px;
  transition: 0.3s;
  -webkit-transform: translateY(126px);
      -ms-transform: translateY(126px);
          transform: translateY(126px);
}
.upbtn.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.page__title {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 30px;
}
.bredcrumbs {
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 8px;
}
.bredcrumbs a {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  display: block;
  text-decoration: underline;
}
.select {
  position: relative;
  background-color: #fff;
  margin-top: 6px;
}
.select select {
  width: 100%;
  padding: 8px 14px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
.select__arrow {
  position: absolute;
  right: 8px;
  bottom: 8px;
  z-index: 1;
}
.select__label {
  font-weight: 500;
  font-size: 14px;
}
.leftnav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #E6E6E6;
  min-height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.leftnav a {
  line-height: 0;
}
.head {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.head__logo {
  margin-top: 30px;
  display: block;
}
.head__navblock {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}
.head__contacts {
  display: flex;
  align-items: center;
}
.head__contacts li {
  font-weight: 500;
  font-size: 24px;
  margin-left: 100px;
}
.head__contacts a {
  font-weight: 500;
  font-size: 24px;
}
.head__nav {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.head__nav a {
  padding: 6px 20px;
  display: block;
  background-color: #E6E6E6;
  font-weight: 500;
  font-size: 24px;
  color: #FBB03B;
}
.head__nav li {
  margin-left: 10px;
}
.head__cart {
  background-color: #FBB03B;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 36px;
}
.head__cart__count {
  font-size: 36px;
  line-height: 42px;
  color: white;
}
.line {
  width: 68px;
  height: 4px;
  background-color: #FBB03B;
  margin-top: 26px;
}
.products {
  margin-top: 23px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
.product {
  background: #F7F7F7;
  padding: 20px;
  box-shadow: 2px 2px 6px #4D4D4D;
  max-width: 410px;
  display: block;
  margin-right: 24px;
  margin-bottom: 24px;
}
.product:hover {
  box-shadow: inset 0 0 0 4px #FBB03B;
}
.product .line {
  margin-top: 15px;
}
.product__title {
  font-weight: 500;
  font-size: 18px;
}
.product__content {
  margin-top: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product__img {
  width: 110px;
  min-width: 110px;
  height: 132px;
  background-image: url(../img/product.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.product__txt {
  margin-left: 12px;
  font-weight: 300;
  font-size: 16px;
}
.company__numeral {
  background-image: url(../img/numeral__bg.jpg);
  padding: 170px 0;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company__numeral .line {
  margin-top: 160px;
}
.company__numeral__title {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}
.company__numeral__items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.company__numeral__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 65px;
  margin-top: 80px;
}
.company__numeral__item__num {
  font-weight: bold;
  font-size: 160px;
  color: #FBB03B;
}
.company__numeral__item__title {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.company__numeral__item__title a {
  color: #FBB03B;
}
.dilevery {
  padding: 300px 0;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: -70px;
  background-image: url(../img/dilevery.jpg);
}
.dilevery .btn__big {
  margin: 0 auto;
  display: block;
  margin-top: 80px;
}
.dilevery__title {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}
.contacts {
  margin-left: -70px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.contacts__text {
  background-color: #4D4D4D;
  padding: 115px;
}
.contacts__text * {
  color: white;
}
.contacts__item {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 28px;
}
.contacts__requisites {
  font-size: 18px;
}
.content__footer {
  margin-left: -70px;
}
.content__footer__top {
  background-color: #FBB03B;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__footer__nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.content__footer__nav li {
  margin-left: 46px;
}
.content__footer__nav li a {
  font-weight: 500;
  font-size: 18px;
}
.content__footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  background-color: #4D4D4D;
}
.content__footer__bottom * {
  color: white;
}
.catalog {
  position: fixed;
  top: 0;
  left: 80px;
  padding: 30px 70px;
  background-color: #FBB03B;
  width: calc(100% - 80px);
  height: 100%;
  overflow-y: auto;
  display: none;
}
.catalog__close {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.catalog__head {
  display: flex;
  width: 100%;
}
.catalog__title {
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  flex-grow: 1;
  text-align: center;
  padding-right: 150px;
  border-bottom: 1px solid #4D4D4D;
  margin-left: 65px;
}
.catalog__head__items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, auto));
  grid-gap: 20px;
}
.catalog__head__item {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.catalog__head__item__icon {
  width: 140px;
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.catalog__head__item__title {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
}
.search {
  background-color: #efefef;
  position: fixed;
  top: 0;
  left: 80px;
  padding: 30px 70px;
  width: calc(100% - 80px);
  height: 100%;
  overflow-y: auto;
}
.search__title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
}
.search__form {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.search__form input {
  border: none;
  border-bottom: 1px solid #000000;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  padding: 5px 20px;
  background: none;
  max-width: 800px;
  width: 800px;
}
.search__form button {
  height: 54px;
  border: none;
  width: 60px;
  cursor: pointer;
}
.categorypage {
  padding-right: 80px;
}
.categorypage__head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 30px;
}
.categorypage__nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.categorypage__nav a {
  font-weight: 500;
  font-size: 18px;
  padding: 20px;
  background-color: #e6e6e6;
  display: block;
}
.categorypage__filter {
  background-color: #fbb03b;
  padding: 35px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(6, minmax(140px, auto));
  grid-gap: 24px;
}
.categorypage__items {
  margin-top: 30px;
}
.categorypage__items table {
  width: 100%;
}
.categorypage__item {
  border-bottom: 1px solid #e6e6e6;
}
.categorypage__item table {
  border-collapse: collapse;
}
.categorypage__item td {
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}
.categorypage__item tr {
  cursor: pointer;
}
.categorypage__item tr:hover {
  background-color: #e6e6e6;
}
.categorypage__item.active {
  background-color: #e6e6e6;
}
.categorypage__item__more__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categorypage__item__more {
  display: none;
  background-color: #4d4d4d;
}
.categorypage__item__more * {
  color: white;
}
.categorypage__item__more__right button {
  background-color: #fbb03b;
  border: none;
  padding: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.categorypage__item__more__right button span {
  font-weight: 500;
  font-size: 18px;
}
.categorypage__item__more__right button img {
  margin-right: 20px;
}
.categorypage__item__more__title {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
}
.categorypage__item__more__numbers {
  display: flex;
  margin-top: 30px;
}
.categorypage__item__more__number {
  margin-right: 90px;
}
.categorypage__item__more__number__label {
  font-weight: 500;
  font-size: 14px;
}
.categorypage__item__more__number__num {
  font-weight: bold;
  font-size: 36px;
  margin-top: 6px;
}
.categorypage__item__more__number__count {
  margin-top: 6px;
  display: flex;
  align-items: center;
}
.categorypage__item__more__number__count input {
  background: none;
  color: white;
  font-weight: bold;
  font-size: 36px;
  width: 90px;
  border: none;
  text-align: center;
}
.categorypage__item__more__number__count input::-webkit-outer-spin-button,
.categorypage__item__more__number__count input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.categorypage__item__more__number__count button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  width: 26px;
  height: 26px;
  cursor: pointer;
  border: none;
}
.categorypage__item__more__number__count button:active {
  opacity: 0.7;
}
.categorypage__showmore {
  background-color: #4d4d4d;
  border: none;
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 60px;
}
.categorypage__showmore * {
  color: white;
}
.categorypage__showmore span {
  font-weight: 500;
  font-size: 18px;
  margin: 0 20px;
}
.categorypage__downloadprice {
  background-color: #fbb03b;
  display: flex;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 15px;
  margin-top: 60px;
}
.categorypage__downloadprice * {
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.categorypage__downloadprice img {
  margin-right: 16px;
}
.categorypage__tablinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  margin-top: 60px;
}
.categorypage__tablink {
  background-color: #4d4d4d;
  padding: 20px;
  border: 1px solid #4d4d4d;
  color: white;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.categorypage__tablink.active {
  background-color: #fff;
  color: #4d4d4d;
}
.categorypage__tabcontent__item {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 20px;
}
.categorypage__tabcontent__item p {
  font-weight: 300;
  font-size: 16px;
  margin-top: 0;
}
.categorypage__tabcontent {
  margin-top: 20px;
  padding-bottom: 60px;
}
.card__product__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}
.card__product__info__left {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-rows: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 40px;
  padding: 45px;
}
.card__product__info__left__item__label {
  font-weight: 500;
  font-size: 24px;
}
.card__product__info__left__item__title {
  font-weight: 900;
  font-size: 36px;
  margin-top: 10px;
}
.card__product__info__right__text p {
  margin-top: 30px;
  font-size: 16px;
  line-height: 20px;
}
.card__product__more {
  padding: 20px 90px;
  margin-top: 30px;
}
