{% set title = 'Главная' %}

{% extends 'layouts/_main.html' %}

{% block content %}

<h1 class="title">Железобетонные изделия компании "Русградстрой"</h1>
<p>РусГрадСтрой» предлагает широкий спектр железобетонных изделий высокого качества по самым лояльным ценам в Москве. </p>
<p>При этом мы акцентируем внимание наших постоянных клиентов на том, что сборные железобетонные изделия имеют сертификаты качества и соответствия, а также изготовлены в соответствии с ГОСТ стандартом.</p>
<!-- products -->
<div class="products">
    <!-- product -->
    <a href="" class="product">
        <div class="product__title">Перемычки</div>
        <div class="line"></div>
        <div class="product__content">
            <div class="product__img"></div>
            <div class="product__txt">Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов окон, дверей и других технологических проемов.</div>
        </div>
    </a>
    <!--END product -->
    <!-- product -->
    <a href="" class="product">
        <div class="product__title">Перемычки</div>
        <div class="line"></div>
        <div class="product__content">
            <div class="product__img"></div>
            <div class="product__txt">Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов окон, дверей и других технологических проемов.</div>
        </div>
    </a>
    <!--END product -->
    <!-- product -->
    <a href="" class="product">
        <div class="product__title">Перемычки</div>
        <div class="line"></div>
        <div class="product__content">
            <div class="product__img"></div>
            <div class="product__txt">Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов окон, дверей и других технологических проемов.</div>
        </div>
    </a>
    <!--END product -->
    <!-- product -->
    <a href="" class="product">
        <div class="product__title">Перемычки</div>
        <div class="line"></div>
        <div class="product__content">
            <div class="product__img"></div>
            <div class="product__txt">Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов окон, дверей и других технологических проемов.</div>
        </div>
    </a>
    <!--END product -->
    <!-- product -->
    <a href="" class="product">
        <div class="product__title">Перемычки</div>
        <div class="line"></div>
        <div class="product__content">
            <div class="product__img"></div>
            <div class="product__txt">Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов окон, дверей и других технологических проемов.</div>
        </div>
    </a>
    <!--END product -->
    <!-- product -->
    <a href="" class="product">
        <div class="product__title">Перемычки</div>
        <div class="line"></div>
        <div class="product__content">
            <div class="product__img"></div>
            <div class="product__txt">Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов окон, дверей и других технологических проемов.</div>
        </div>
    </a>
    <!--END product -->
    <!-- product -->
    <a href="" class="product">
        <div class="product__title">Перемычки</div>
        <div class="line"></div>
        <div class="product__content">
            <div class="product__img"></div>
            <div class="product__txt">Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов окон, дверей и других технологических проемов.</div>
        </div>
    </a>
    <!--END product -->
    <!-- product -->
    <a href="" class="product">
        <div class="product__title">Перемычки</div>
        <div class="line"></div>
        <div class="product__content">
            <div class="product__img"></div>
            <div class="product__txt">Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов окон, дверей и других технологических проемов.</div>
        </div>
    </a>
    <!--END product -->
    <!-- product -->
    <a href="" class="product">
        <div class="product__title">Перемычки</div>
        <div class="line"></div>
        <div class="product__content">
            <div class="product__img"></div>
            <div class="product__txt">Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов окон, дверей и других технологических проемов.</div>
        </div>
    </a>
    <!--END product -->
</div>
<!--END products -->

<!-- company__numeral -->
<div class="company__numeral">
    <div class="company__numeral__title">Компания «РусГрадСтрой» за долгие годы зарекомендовала себя как надежного поставщика ЖБИ по выгодным ценам и с высоким качеством обслуживания.</div>
    <div class="line"></div>
    <div class="company__numeral__items">
        <div class="company__numeral__item">
            <div class="company__numeral__item__num">15</div>
            <div class="company__numeral__item__title">лет на рынке</div>
        </div>
        <div class="company__numeral__item">
            <div class="company__numeral__item__num">24</div>
            <div class="company__numeral__item__title"> Завода-партнера</div>
        </div>
        <div class="company__numeral__item">
            <div class="company__numeral__item__num">1730</div>
            <div class="company__numeral__item__title">
                Позиций в 
                <a href="/">каталоге</a>
            </div>
        </div>
    </div>
</div>
<!--END company__numeral -->

<!-- dilevery -->
<div class="dilevery">
    <div class="dilevery__title">наша компания предлагает доставку прямо на стройплощадку, поэтому вам не придется нанимать машину для транспортировки своей покупки.</div>
    <button class="btn__big black">оставить заявку</button>
</div>
<!--END dilevery -->

<!-- contscts -->
<div class="contacts">
    <div class="contacts__map" id="contacts__map"></div>
    <div class="contacts__text">
        <div class="contacts__item contacts__loc">127591, Москва Керамический проезд д. 53 к.1 офис 2</div>
        <div class="contacts__item contacts__phone">+7 (495) 642-33-81</div>
        <div class="contacts__item contacts__phone">+7 (499) 900-33-79</div>
        <div class="contacts__item contacts__mail">sm@rgstroy.ru</div>
        <div class="contacts__item contacts__worktime">ПН-ПТ 9:00 – 18:00</div>
        <ul class="contacts__requisites">
            <li>ИНН 7713793066</li>
            <li>КПП 771301001<li>
            <li>ОГРН 1147746886121<li>
            <li>Р/с 4070.2810.1012.7000.4365<li>
            <li>в ТОЧКА ПАО «ХАНТЫ-МАНСИЙСКИЙ<li>
            <li>БАНК ОТКРЫТИЕ»<li>
            <li>БИК 044583999<li>
            <li>К/с 30101810600000000999<li>
        </ul>
    </div>
</div>
<!--END contscts -->
{% endblock %}
