{% set title = 'Категория товаров РусГрадСтрой' %} {% extends
'layouts/_main.html' %} {% block content %}
<div class="card__product">
    <div class="container">
        <h1 class="page__title">Перемычка брусковая 1ПБ 10-1п</h1>
        <ul class="bredcrumbs">
            <li><a href="/">Главная</a></li>
            <div class="bredcrumbs__separator">/</div>
            <li><a href="/">Каталог</a></li>
            <div class="bredcrumbs__separator">/</div>
            <li><a href="/">Перемычки</a></li>
            <div class="bredcrumbs__separator">/</div>
            <li><a href="/">Перемычки брусковые</a></li>
        </ul>
        <div class="card__product__info">
            <div class="card__product__info__left">
                <!-- card__product__info__left__item -->
                <div class="card__product__info__left__item">
                    <div class="card__product__info__left__item__label">
                        Размеры
                    </div>
                    <div class="card__product__info__left__item__title">
                        1030x120x65 мм
                    </div>
                </div>
                <!--END card__product__info__left__item -->
                <!-- card__product__info__left__item -->
                <div class="card__product__info__left__item">
                    <div class="card__product__info__left__item__label">
                        Масса
                    </div>
                    <div class="card__product__info__left__item__title">
                        23 кг
                    </div>
                </div>
                <!--END card__product__info__left__item -->
                <!-- card__product__info__left__item -->
                <div class="card__product__info__left__item">
                    <div class="card__product__info__left__item__label">
                        Серия, ГОСТ, ТУ
                    </div>
                    <div class="card__product__info__left__item__title">
                        ТУ 5855-057-04001232-9
                    </div>
                </div>
                <!--END card__product__info__left__item -->
            </div>
            <div class="card__product__info__right">
                <img src="img/product__img.png" alt="" />
                <div class="card__product__info__right__text">
                    <p>Перемычки ПБ, ПП, ПГ используют в строительстве каменных, кирпичных домов для перекрытия проемов окон, дверей и других технологических проемов. Задача железобетонных перемычек – передать нагрузку от выше возводимой стены на нижнюю кладку, при этом сохранить проем здания. Данные изделия предназначены для использование в зданиях в условиях агрессивной среды, с сейсмичностью до 7 баллов. </p>
                    <p>Купить перемычки железобетонные оконные, балочные, плитные всех типов и размеров в РусГрадСтрой по оптимальным ценам.</p>
                    <p>Выгодные условия доставки можно расчитать онлайн.</p>
                </div>
            </div>
        </div>

        <div class="categorypage__item__more card__product__more" style="display: block;">
            <div class="categorypage__item__more__wrapper">
                <div class="categorypage__item__more__left">
                    <div class="categorypage__item__more__title"> Перемычка брусковая 1ПБ 10-1п </div>
                    <div class="categorypage__item__more__numbers">
                        <!-- categorypage__item__more__number -->
                        <div class="categorypage__item__more__number">
                            <div class="categorypage__item__more__number__label"> Количество, шт. </div>
                            <div class="categorypage__item__more__number__count">
                                <button data-value-minus="1">
                                    <img src="img/minus.svg" alt="">
                                </button>
                                <input type="number" value="1" min="1" max="999" data-value-input="1">
                                <button data-value-plus="1">
                                    <img src="img/plus.svg" alt="">
                                </button>
                            </div>
                        </div>
                        <!-- categorypage__item__more__number -->
                        <!-- categorypage__item__more__number -->
                        <div class="categorypage__item__more__number">
                            <div class="categorypage__item__more__number__label"> Цена, руб. </div>
                            <div class="categorypage__item__more__number__num"> 223 </div>
                        </div>
                        <!-- categorypage__item__more__number -->
                        <!-- categorypage__item__more__number -->
                        <div class="categorypage__item__more__number">
                            <div class="categorypage__item__more__number__label"> Сумма, руб. </div>
                            <div class="categorypage__item__more__number__num"> 6021 </div>
                        </div>
                        <!-- categorypage__item__more__number -->
                    </div>
                </div>
                <div class="categorypage__item__more__right">
                    <button>
                        <img src="img/card_btn.svg" alt="">
                        <span>Добавить в корзину</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="categorypage__tablinks">
            <div class="categorypage__tablink" data-tablink="1">
                Техническая информация
            </div>
            <div class="categorypage__tablink" data-tablink="2">Статьи</div>
            <div class="categorypage__tablink" data-tablink="3">Видео</div>
            <div class="categorypage__tablink" data-tablink="4">
                ГОСТы и нормативы
            </div>
        </div>
        <div class="categorypage__tabcontent">
            <!-- categorypage__tabcontent__item -->
            <div class="categorypage__tabcontent__item" data-tabitem="1">
                <p>
                    Перемычки ПБ, ПП, ПГ используют в строительстве каменных,
                    кирпичных домах для перекрытия проемов окон, дверей и других
                    технологических проемов. Задача железобетонных перемычек -
                    это передать нагрузку от выше возводимой стены на нижнюю
                    кладку, при этом сохранить проем здания. Данные изделия
                    предназначены для использование в зданиях в условиях
                    агрессивной среды, с сейсмичностью до 7 баллов
                </p>
                <p>
                    Производство железобетонных перемычек проходит строго
                    согласно ГОСТ 948-84. Таким образом, вы получаете
                    качественные железобетонные изделия, технология которых
                    отработана на протяжении многих лет в условиях нашей страны,
                    что отметает сомнения в выборе перемычек в качестве
                    строительных материалов для вашего дома.
                </p>
                <p>
                    Балочные и плитные перемычки выпускаются с уклоном торцевых
                    и боковых граней, нижняя часть которых может быть меньше до
                    20 мм. по длине и 8 мм. по ширине. В данном виде жби
                    применяют преимущественно предварительно напряженную
                    арматуру - АтV , однако ее тип меняется от типоразмера
                    перемычки, также могут изготавливаться с выпуском арматуры,
                    для зданий в сейсмоопасных зонах до 7 баллов. На ПБ ПП и ПГ
                    присутствуют строповочные отверстия диаметром 30 мм. для
                    разгрузки - погрузки и монтажа на ваш строительный объект.
                </p>
                <p>
                    Транспортировка перемычек осуществляется автотранспортом в
                    штабелированном состоянии с прокладками межу рядами
                    перемычек толщиной не менее 25 мм., уложенные продольно оси
                    автомобиля. Высота штабеля не должна превышать 2 метров.
                    Разгрузка - погрузка же должна осуществляться автокраном
                    пакетами при помощи специальных грузозахватных
                    приспособлений, при отдельной разгрузке - за строповочные
                    петли
                </p>
                <p>
                    При соблюдении вышеописанных требований и условий, компания
                    РусГрадСтрой дает гарантию на долгий срок службы
                    железобетонный перемычек ПБ, ПП, ПГ.
                </p>
                <p>
                    Расшифровка маркировки. 2ПБ-27-4п, где 2ПБ – сечение 120мм х
                    140 мм, 27 – длина, 4 – нагрузка 400 кг на метр.
                </p>
            </div>
            <!--END categorypage__tabcontent__item -->
            <!-- categorypage__tabcontent__item -->
            <div class="categorypage__tabcontent__item" data-tabitem="2">
                <p>
                    Статьи
                </p>
            </div>
            <!--END categorypage__tabcontent__item -->
            <div class="categorypage__tabcontent__item" data-tabitem="3">
                <p>
                    Видео
                </p>
            </div>
            <!--END categorypage__tabcontent__item -->
            <!--END categorypage__tabcontent__item -->
            <div class="categorypage__tabcontent__item" data-tabitem="4">
                <p>
                    ГОСТы и нормативы
                </p>
            </div>
            <!--END categorypage__tabcontent__item -->
        </div>
    </div>
</div>
{% endblock %}
