{% set title = 'Категория товаров РусГрадСтрой' %} {% extends
'layouts/_main.html' %} {% block content %}
<div class="card__product">
    <div class="container">
        <h1 class="page__title">Перемычка брусковая 1ПБ 10-1п</h1>
        <ul class="bredcrumbs">
            <li><a href="/">Главная</a></li>
            <div class="bredcrumbs__separator">/</div>
            <li><a href="/">Каталог</a></li>
            <div class="bredcrumbs__separator">/</div>
            <li><a href="/">Перемычки</a></li>
            <div class="bredcrumbs__separator">/</div>
            <li><a href="/">Перемычки брусковые</a></li>
        </ul>
        <div class="card__product__info">
            <div class="card__product__info__left">
                <!-- card__product__info__left__item -->
                <div class="card__product__info__left__item">
                    <div class="card__product__info__left__item__label">
                        Размеры
                    </div>
                    <div class="card__product__info__left__item__title">
                        1030x120x65 мм
                    </div>
                </div>
                <!--END card__product__info__left__item -->
                <!-- card__product__info__left__item -->
                <div class="card__product__info__left__item">
                    <div class="card__product__info__left__item__label">
                        Масса
                    </div>
                    <div class="card__product__info__left__item__title">
                        23 кг
                    </div>
                </div>
                <!--END card__product__info__left__item -->
                <!-- card__product__info__left__item -->
                <div class="card__product__info__left__item">
                    <div class="card__product__info__left__item__label">
                        Серия, ГОСТ, ТУ
                    </div>
                    <div class="card__product__info__left__item__title">
                        ТУ 5855-057-04001232-9
                    </div>
                </div>
                <!--END card__product__info__left__item -->
            </div>
            <div class="card__product__info__right">
                <img src="img/product__img.png" alt="" />
            </div>
        </div>
    </div>
</div>
{% endblock %}
